@use "../customized_bootstrap" as *;

.my-navbar-div { 
    font-size: 1.1rem;
    background-color: $palette-primary;
}

.my-nav-container-fluid {
    padding: 1% 6%;
}

.navbar .navbar-toggler {
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid $palette-light;
}
